<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fancy Family Store </title>

    <!-- Favicon -->
    <link href="~/bootstrap/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/bootstrap/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/bootstrap/css/style.css" rel="stylesheet">

    <environment names="Production, Staging">
        <link rel="stylesheet" asp-append-version="true" href="" />
    </environment>
    <environment names="Development">
        <link rel="stylesheet" asp-append-version="false" href="" />
    </environment>


</head>
<body>
    <!-- Topbar Start -->
    <partial name="TopbarPartial" />
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">

            <div class="col-lg-3 d-none d-lg-block">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categories</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse show navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical">
                    @await Component.InvokeAsync("MainNavigation")
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">

                    @await Component.InvokeAsync("TopbarNavigation")

                   
                </nav>


                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="~/images/pexels-anna-shvets-5325768.jpg" alt="By Anna Shvets">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashion</h3>
                                    <a asp-controller="Items" asp-action="Index"  class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="~/images/pexels-anna-shvets-5325586.jpg" alt="By Anna Shvets">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                                    <a asp-controller="Property" asp-action="ShowProperty" asp-route-Id="2" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Featured Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->
    <!-- Offer Start -->
    <div class="container-fluid offer pt-5">
        <div class="row px-xl-5">
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                    <img src="~/images/choose-something-new.png" alt="New">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                        <h1 class="mb-4 font-weight-semi-bold">New Collection</h1>
                        <a asp-controller="Property" asp-action="ShowProperty" asp-route-Id="1" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                    <img src="~/images/sale-stamp.png" style="z-index:5" alt="discount">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% off the all order</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Outlet Collection</h1>
                        <a asp-controller="Property" asp-action="ShowProperty" asp-route-Id="2" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Offer End -->
    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
        </div>
        @RenderBody()
       
    </div>
    <!-- Products End -->
    <!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                   
                    <a  asp-controller="Categories" asp-action="ShowCategory" asp-route-Id="1" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="~/images/pexels-bruno-salvadori-2269872 - kopie.jpg" alt="By Adrian">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Men</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    
                    <a asp-controller="Categories" asp-action="ShowCategory" asp-route-Id="2" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="~/images/pexels-andrea-piacquadio-972884.jpg" alt="By Andrea Piacquadio">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Women</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    
                    <a asp-controller="Categories" asp-action="ShowCategory" asp-route-Id="3" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="~/images/pexels-allan-mas-5622350.jpg" alt="By Allan Mas">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Kids</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                   
                    <a asp-controller="Collections" asp-action="ShowCollections" asp-route-Id="1" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="~/images/collis.jpg" alt="By Collis">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Accerssories</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                   
                    <a asp-controller="Collections" asp-action="ShowCollections" asp-route-Id="2" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="~/images/pexels-artem-beliaikin-994517.jpg" alt="By Artem Beliakin">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Clothes</h5>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                   
                    <a asp-controller="Collections" asp-action="ShowCollections" asp-route-Id="3" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="~/images/pexels-adrian-dorobantu-2300334.jpg" alt="By Adrian Dorobantu">
                    </a>
                    <h5 class="font-weight-semi-bold m-0">Shoes</h5>
                </div>
            </div>
        </div>
    </div>
  
   
    <!-- Footer Start -->
   <partial name="FooterPartial" />
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top" style="display: none;"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap/lib/easing/easing.min.js"></script>
    <script src="~/bootstrap/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/bootstrap/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/bootstrap/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/bootstrap/js/main.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>

