<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EFancy Family Store</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">


    <!-- Favicon -->
    <link href="~/bootstrap/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/bootstrap/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/bootstrap/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <partial name="TopbarPartial" />
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <partial name="NavbarPartial" />
    <!-- Navbar End -->
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">@ViewData["Title"]</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a asp-controller="Home" asp-action="Index">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Item Detail</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            @RenderBody()



        </div>
    </div>
    <!-- Shop Detail End -->
    <!-- Footer Start -->
    <partial name="FooterPartial" />
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top" style="display: none;"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap/lib/easing/easing.min.js"></script>
    <script src="~/bootstrap/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/bootstrap/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/bootstrap/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/bootstrap/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>