<div class="navbar-nav w-100 overflow-hidden" style="height: 410px">

    <a asp-controller="Categories" asp-action="ShowCategory" asp-route-Id="1" class="nav-item nav-link">Men</a>
    <a asp-controller="Categories" asp-action="ShowCategory" asp-route-Id="2" class="nav-item nav-link">Women</a>
    <a asp-controller="Categories" asp-action="ShowCategory" asp-route-Id="3" class="nav-item nav-link">Kids</a>
    <a asp-controller="Collections" asp-action="ShowCollections" asp-route-Id="1" class="nav-item nav-link">Accessoires</a>
    <a asp-controller="Property" asp-action="ShowProperty" asp-route-Id="4" class="nav-item nav-link">Sportswear</a>
    <a asp-controller="Property" asp-action="ShowProperty" asp-route-Id="5" class="nav-item nav-link">Casual</a>
    <a asp-controller="Collections" asp-action="ShowCollections" asp-route-Id="3" class="nav-item nav-link">Shoes</a>
    <a asp-controller="Property" asp-action="ShowProperty" asp-route-Id="1" class="nav-item nav-link">NewIn</a>
    <a asp-controller="Property" asp-action="ShowProperty" asp-route-Id="2" class="nav-item nav-link">Outlet</a>
</div>